/*
 * #############################################
 * ##### Wraith - advanced drupal theming. #####
 * #############################################
 */

/*-----------------------------------------------
           Imports and Definitions
-----------------------------------------------*/
@import "compass";
// @import "salsa/salsa";       // Uncomment to use layout mixins (see Wraith's layout partials for examples)
// @import "partials/mixins";   // Uncomment to call your own mixins partial (check your /partials directory)

/*-----------------------------------------------
          General Sitewide Styles
-----------------------------------------------*/

.progress .bar{
  @include border-radius(3px);
  border:none;
}

.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
