/* #############################################
 * ##### Wraith - advanced drupal theming. #####
 * #############################################
 *   
 * SITENAME theme main stylesheet.
 * 
 *  Index
 *  -----------
 *  1. Imports and Definitions
 *  2. General Sitewide Styles
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebars
 *    -- Footer
 *  3. Front Page
 *  4. Inner Pages
 *  5. Forms
 * 
 */

/*-----------------------------------------------
           Imports and Definitions
-----------------------------------------------*/
// @import "compass/css3";      // Uncomment to use CSS3 mixins (http://compass-style.org/reference/compass/css3/)
// @import "salsa/salsa";       // Uncomment to use layout mixins (see Wraith's layout partials for examples)
// @import "partials/mixins";   // Uncomment to call your own mixins partial (check your /partials directory)

/*-----------------------------------------------
          General Sitewide Styles
-----------------------------------------------*/
/* -----  Layout  ----- */

/* -----  General Styles (Colors, Backgrounds etc.)  ----- */

/* -----  Typography  ----- */

/* -----  Links  ----- */

/* -----  Header  ----- */

/* -----  Sidebars  ----- */

/* -----  Footer  ----- */


/*-----------------------------------------------
                 Front Page
-----------------------------------------------*/

/*-----------------------------------------------
                 Inner Pages
-----------------------------------------------*/

/*-----------------------------------------------
                   Forms
-----------------------------------------------*/
